@model List<CheeseMVC.Models.CheeseCategory>

<ul>
    @foreach (var cheesecategory in Model)
    {
        <li>@cheesecategory.Name</li>
    }
</ul>

<p><a asp-controller="Category" asp-action="Add">Add Category</a></p>
